fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-groq
langchain-nvidia-ai-endpoints
langchain-google-genai
